<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Layout7 Podoliak A.S.</title>
</head>

<body>
  <div class="container">
    <div class="text text1">this page is</div>
    <div class="text text2">your</div>
    <div class="text text3">hometask</div>
    <div class="hexs">
      <div class="row1">
        <div class="hexagon red100"></div>
        <div class="hexagon red200"></div>
      </div>
      <div class="row2">
        <div class="hexagon red100"></div>
        <div class="hexagon red200"></div>
        <div class="hexagon red300"></div>
        <div class="hexagon red400"></div>
      </div>
      <div class="row3">
        <div class="hexagon red100"></div>
        <div class="hexagon red200"></div>
        <div class="hexagon red300"></div>
        <div class="hexagon red400"></div>
        <div class="hexagon red300"></div>
        <div class="hexagon red200"></div>
        <div class="hexagon red100"></div>
      </div>
      <div class="row4">
        <div class="hexagon red400"></div>
        <div class="hexagon red300"></div>
        <div class="hexagon red200"></div>
        <div class="hexagon red100"></div>
        <div class="hexagon red000"></div>
      </div>
      <div class="row5">
        <div class="hexagon red100"></div>
        <div class="hexagon red000"></div>
      </div>
    </div>
  </div>
</body>

</html>