@font-face {
  font-family: "SegoeWPN";
  src: url("fonts/SegoeWPN.ttf");
}

@font-face {
  font-family: "SegoeWPLight";
  src: url("fonts/SegoeWPLight.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-size: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 100%;
}

header {
  width: 100%;
  position: relative;
}

.logo-circle {
  position: relative;
  left: 10%;
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin: 23px 0;
  background-image: url("img/logo.png");
}

.logo-circle::after {
  content: "Prechu";
  display: inline-block;
  font-family: "SegoeWPLight";
  font-size: 37px;
  font-weight: 100;
  line-height: 50px;
  position: absolute;
  left: 120%;
  top: 50%;
  margin-top: -25px;
}

header ul {
  vertical-align: bottom;
  list-style: none;
  display: inline-block;
  position: absolute;
  right: 0%;
  bottom: 0%;
}

header li {
  display: inline-block;
}

header li a {
  display: inline-block;
  font-family: "SegoeWPN";
  font-size: 1.4vw;
  color: #6c6c6c;
  text-decoration: none;
  padding: 0 20px 25px 20px;
}

header li a:hover {
  border-bottom: 3px solid #5094f2;
  padding: 0 20px 22px 20px;
}

.burger {
  display: none;
  position: absolute;
  width: 60px;
  height: 45px;
  background-color: #5094f2;
  border-radius: 3px;
  top: 50%;
  margin-top: -17px;
  right: 0%;
  margin-right: 20px;
  padding: 6px 0;
}

.burger-line {
  width: 35px;
  height: 7px;
  border-radius: 2px;
  background-color: white;
  margin: 3px auto;
}

.banner {
  position: relative;
  height: 100%;
  background-image: url("img/bannerback.png");
  background-size: cover;
}

.banner .phone {
  position: relative;
  left: 10%;
  display: inline-block;
  max-width: 30%;
  max-height: calc(100% - 60px);
  margin: 30px 0;
}

.banner::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 12%;
  background-image: url("img/left-arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  top: 50%;
  left: 5%;
  margin-top: -30px;
}

.banner::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 12%;
  background-image: url("img/right-arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  top: 50%;
  right: 5%;
  margin-top: -30px;
}

.banner-content {
  height: 100%;
  width: 40%;
  position: absolute;
  top: 25%;
  right: 10%;
}

.banner h2 {
  font-family: "SegoeWPLight";
  font-size: 3vw;
  font-weight: 100;
  color: white;
}

.banner p {
  font-family: "SegoeWPLight";
  margin-top: 10px;
  width: 90%;
  font-size: 2.2vw;
  font-weight: 100;
  color: white;
  line-height: 4vw;
}

.banner-button {
  position: relative;
  height: 10%;
  width: 50%;
  background-color: #5094f2;
  border-radius: 3px;
  margin: 7% 0 0 20px;
}

.banner-button::after {
  content: "Sign up now";
  font-size: 2.1vw;
  color: white;
  font-family: "SegoeWPLight";
  font-weight: 100;
  line-height: 40px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  left: 25%;
}

.banner-button::before {
  content: "";
  position: absolute;
  width: 12%;
  height: 60%;
  background-image: url("img/Shape.png");
  top: 50%;
  margin-top: -6%;
  left: 0%;
  margin-left: 7%;
  background-size: contain;
  background-repeat: no-repeat;
}

.banner-button:hover {
  background-color: #2e7eed;
}

.products {
  text-align: center;
  z-index: 1;
  position: relative;
  margin-top: -10px;
  padding: 10% 10% 0 10%;
  background-image: url("img/prodback.png");
  background-size: cover;
}

.product {
  display: inline-block;
  text-align: center;
  width: 33.33333333333333%;
}

.product img {
  width: 50%;
  height: 50%;
}

.product-name {
  font-family: "SegoeWPN";
  padding: 0 10px;
  font-size: 1.8vw;
  margin-top: 10%;
  color: #5094f2;
}

.product-text {
  font-family: "SegoeWPN";
  font-size: 1.3vw;
  margin-top: 5px;
  color: #909090;
  text-align: center;
  padding: 0 8%;
}

.cart {
  padding: 10% 10% 0 10%;
}

.cart-div {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.cart h2 {
  font-family: "SegoeWPN";
  font-size: 3.5vw;
  font-weight: 100;
  color: #6f7173;
  margin-left: 4%;
}

.cart img {
  display: inline-block;
  width: 40%;
  height: 40%;
  margin: 2.5% 4%;
}

.cart-name {
  font-family: "SegoeWPN";
  font-size: 2.5vw;
  font-weight: 100;
  color: #6f7173;
  margin-left: 13.6%;
}

.cart-text {
  font-family: "SegoeWPLight";
  font-size: 1.2vw;
  font-weight: 100;
  color: #979797;
  margin-left: 13.6%;
  line-height: 3vw;
  margin-top: 6%;
}

footer {
  font-family: "SegoeWPLight";
  font-size: 1.3vw;
  font-weight: 100;
  color: #979797;
  text-align: center;
  line-height: 7vw;
  border-top: 3px solid #e5e5e5;
  margin-top: 4%;
}

@media screen and (max-width:640px) {

  body {
    width: 100%;
  }

  header {
    width: 100%;
    padding: 0;
  }

  header ul a {
    display: none;
  }

  .logo-circle {
    margin-left: 30px;
  }

  .banner {
    width: 100%;
    height: 250px;
  }

  .banner::before,
  .banner::after {
    display: none;
  }

  .banner .phone {
    max-height: calc(100% - 30px);
    max-width: 100%;
    margin: 20px 60px 10px 30px;
  }

  .banner-content {
    height: 100%;
    width: 300px;
    margin: 0;
    padding: 0;
  }

  .banner h2 {
    font-size: 30px;
    margin-top: 30px;
  }

  .banner p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 35px;
  }

  .banner-button {
    height: 50px;
    width: 240px;
    font-size: 28px;
    line-height: 47px;
    padding-left: 60px;
    margin: 22px 0 0 0;
  }

  .banner-button::before {
    height: 30px;
    width: 30px;
    background-image: url("img/Shape.png");
    top: 50%;
    margin-top: -15px;
    left: 0%;
    margin-left: 15px;
    background-size: cover;
  }

  .burger {
    display: block;
  }

  .products {
    background-color: white;
    margin-top: 0;
    padding: 0;
    height: 100%;
  }

  .product {
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #cccccc;
  }

  .product img {
    width: 135px;
    height: 135px;
    margin: 40px 0 20px 0;
  }

  .product-name {
    display: inline-block;
    font-size: 32px;
    margin: 55px 0 0 25px;
    vertical-align: top;
    position: relative;
  }

  .product-name::after {
    width: 100%;
    content: "Lorem ipsum dolor sit amet consectetur adipisicing elit";
    position: absolute;
    font-family: "SegoeWPN";
    font-size: 17px;
    color: #909090;
    top: 50%;
    margin-top: 25px;
    left: 0%;
    margin-left: 3px;
    text-align: left;
  }

  .product-text {
    display: none;
  }

  .cart {
    height: 100%;
    width: 100%;
    padding: 0;
  }

  .cart h2 {
    margin: 50px 0 0 0;
    text-align: center;
  }

  .cart-div {
    display: block;
    width: 100%;
  }


  .cart img {
    display: block;
    margin: 0 auto;
    transform: scale(0.7);
  }

  .cart-name {
    display: block;
    width: 100%;
    margin: 0;
    font-size: 35px;
    text-align: center;
  }

  .cart-text {
    display: block;
    width: 100%;
    margin: 0;
    padding: 30px 70px;
    text-align: justify;
  }

  footer {
    margin-top: 0;
    width: 100%;
  }
}

/* @media screen and (max-width:500px) {

  .banner .phone {
    display: none;
  }
} */