<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Layout2 Podoliak A.S.</title>
</head>

<body>
  <div class="gradient-bg">
    <h1 class="gradient-bg-cell">Hello Hillel!</h1>
    <p class="gradient-bg-cell">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolorum voluptates pariatur aut laborum
      sunt esse? Corrupti dolorem officia molestias ad voluptatum natus beatae. Lorem ipsum dolor.</p>
    <span class="gradient-bg-cell">complete!</span>
  </div>
</body>

</html>