* {
  margin: 0px;
  padding: 0px;
  border-collapse: collapse;
  font-family: Arial;
}

body {
  background-color: #8e8e8e;
  width: 1650px;
  padding: 100px;
  margin: 0 auto;
}

.gradient-bg {
  padding: 20px;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  width: 1280px;
  height: 710px;
  background-color: white;
  background:
    linear-gradient(-8deg, white 38%, transparent 38%),
    linear-gradient(18deg, white 30%, transparent 30%),
    linear-gradient(8deg, #8e8e8e, 62%, transparent 62%),
    linear-gradient(335deg, #8e8e8e 42.9%, transparent 42.9%),
    linear-gradient(342deg, #ff9b00 50%, white 50%);
}

.gradient-bg-cell {
  display: block;
  font-weight: 700;
}

h1,
span {
  margin: 30px;
}

span {
  font-size: 22px;
}

p {
  margin: 200px 0 300px 0;
  color: white;
  width: 45%;
}