<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="fonts/fonts.css">
  <link rel="stylesheet" href="style.css">
  <title>Layout6 Podoliak A.S.</title>
</head>

<body>
  <header>
    <div class="marcy">
      Marcy..
    </div>
    <h1>story</h1>
  </header>
  <section>
    <div class="img-overflow">
      <div class="container">
        <div class="travel">
          <h2>travel</h2>
          <p class="storyname">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p class="storytext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quae minima fugit
            incidunt aut repudiandae nulla error quisquam ea. Laudantium voluptate.</br></br> tempore saepe placeat,
            tempora
            doloribus adipisci deserunt ad labore, consectetur dolorum molestiae illo! Lorem ipsum dolor sit amet
            consectetur.</p>
          <a href="">
            <div class="button button-story">
              full story
            </div>
          </a>
          <div class="main-travel-pic">
          </div>
          <div class="other-travel-pic">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container qoute-block">
      <div class="qoute-circle"></div>
      <div class="empty-block"></div>
      <div class="qoute">
        <h2></br></br></br>qoute</h2>
        <p class="storyname">Nullam id dolor id nibh</br>ultricies vehicula ut id elit.</p>
      </div>
      <div class="qoute-table"></div>
      <div class="qoute-author">
        <p>"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia iste sed iusto libero soluta nisi numquam
          vitae voluptatibus!"</p>
        <span class="author-name">ven diesel</span>
        <span class="author-date">1962-2006</span>
        <a href="#">
          <div class="button button-qoute">full story</div>
        </a>
      </div>
    </div>
    </div>
  </section>
  <footer>
    <div class="footer-block">
      <div class="footer-question">
        Like what you're reading? Get weekly updates that will help you grow as a dasigner.
      </div>
      <form action="#" method="get">
        <input class="form-data" name="name" type="text" placeholder="name" required/>
        <input class="form-data" name="email" type="email" placeholder="email" required/>
        <div class="button button-submit">
          subscribe
          <input type="submit" value="">
        </div>
      </form>
    </div>
  </footer>
</body>

</html>