<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="fonts/opensans.css">
  <link rel="stylesheet" href="style.css">
  <link rel="shortcut icon" href="img/prefooter-cat.jpg" type="image/png">
  <title>Layout3 Podoliak A.S.</title>
</head>

<body>

  <header>
    <div class="container">
      <h1>Пупкин Валисий Иванович</h1>
    </div>
  </header>

  <nav>
    <div class="container-nav">
      <div class="nav-box">
        <a href="#">Резюме</a>
        <a href="index.html#skills">Портфолио</a>
        <a href="index.html#skills">Проекты</a>
        <a href="index.html#contacts">Контакты</a>
      </div>
    </div>
  </nav>

  <section class="about-me">
    <div class="container">
      <div class="about-me-head">
        Обо мне
      </div>
      <div class="about-me-content">
        <div class="about-me-content-pic">
          <img src="img/myphoto.jpg" alt="myphoto">
        </div>
        <div class="about-me-content-text">
          <div class="about-me-content-text-head">
            Пара слов про меня
          </div>
          <div class="about-me-content-text-about">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum id nulla ducimus dolor in quod fugit fuga,
            eaque sed animi eum iste. In tenetur veritatis esse illum ullam expedita molestias animi accusamus, rerum.
            Lorem ipsum dolor sit amet.
          </div>
          <div class="about-me-content-text-quote">
            "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et commodi quasi provident labore accusamus,
            doloremque, natus facilis facere a odio sequi totam molestiae! Lorem ipsum dolor sit amet."
            <span class="about-me-content-text-quote-span">
              Иван Пупкин, <strong>Web Designer</strong>
            </span>
          </div>
        </div>
      </div>
      <div class="about-me-line"></div>
    </div>
  </section>

  <section class="skills">
    <a name="skills"></a>
    <div class="container">
      <div class="skills-left">
        <div class="skills-left-head">
          Мои навыки
        </div>
        <div class="skills-element skills-element1">Photoshop</div>
        <div class="skills-element skills-element2">HTML</div>
        <div class="skills-element skills-element3">CSS</div>
        <div class="skills-element skills-element4">JavaScript</div>
        <div class="skills-element skills-element5">Angular</div>
        <!-- линейка верх -->
        <div class="skills-element-scale"></div>
        <div class="skills-element-scale"></div>
        <div class="skills-element-scale"></div>
        <div class="skills-element-scale"></div>
        <div class="skills-element-scale"></div>
        <!-- линейка них -->
        <div class="skills-element-num skills-element-num1">1</div>
        <div class="skills-element-num">2</div>
        <div class="skills-element-num">3</div>
        <div class="skills-element-num">4</div>
        <div class="skills-element-num">5</div>
      </div>
      <div class="skills-right">
        <div class="skills-right-head">
          Что я делаю
        </div>
        <div class="skills-element-right">
          <div class="skills-element-dot"></div>
          <div class="skills-element-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est tempore
            consequuntur earum vel impedit nam.
          </div>
        </div>
        <div class="skills-element-right">
          <div class="skills-element-dot"></div>
          <div class="skills-element-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est tempore
            consequuntur earum vel impedit nam.
          </div>
        </div>
        <div class="skills-element-right">
          <div class="skills-element-dot"></div>
          <div class="skills-element-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est tempore
            consequuntur earum vel impedit nam.
          </div>
        </div>
        <div class="skills-element-right">
          <div class="skills-element-dot"></div>
          <div class="skills-element-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est tempore
            consequuntur earum vel impedit nam.
          </div>
        </div>
        <div class="skills-element-right">
          <div class="skills-element-dot"></div>
          <div class="skills-element-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est tempore
            consequuntur earum vel impedit nam.
          </div>
        </div>
        <div class="skills-element-right">
          <div class="skills-element-dot"></div>
          <div class="skills-element-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est tempore
            consequuntur earum vel impedit nam.
          </div>
        </div>
      </div>
      <div class="skills-line"></div>
      <div class="prefooter">
        <div class="prefooter-img">
          <img src="img/prefooter-cat.jpg" alt="cat">
        </div>
        <div class="prefooter-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque perspiciatis
          voluptates voluptatem blanditiis at laborum in dolores, aspernatur nam modi nisi. Vel quidem beatae, ullam ad
          temporibus repellendus praesentium et ab aperiam porro modi, impedit, eaque ipsum est enim possimus. Sapiente
          ipsum pariatur praesentium atque? Dolor ratione sed facilis.</div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container-footer">
      <div class="footer-contacts">
        <a name="contacts"></a>
        <span class="footer-contacts-head">Контакты</span>
        <span class="footer-contacts-text">e-mail: vasia@i.ua</br>mob.: +380930000011</span>
      </div>
      <div class="footer-social">
        <span class="footer-social-head">Соцсети</span>
        <span class="footer-social-text">
          <a href="https://google.com/">facebook</a>
          <a href="https://google.com/">google+</a>
          <a href="https://google.com/">linkedIn</a>
        </span>
      </div>
      <div class="footer-gradient">
        <span>Lorem</br>ipsum</span>
      </div>
      <div class="footer-last">
        Hillel, 2021
      </div>
    </div>
  </footer>

</body>

</html>