<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Layout11 Podoliak A.S.</title>
</head>

<body>
  <div class="paralax">
    <header>
      <h1>Leo</h1>
      <nav>
        <ul>
          <li><a href="#">Solutions</a></li>
          <li><a href="#">Poducts</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
      <div class="logo">
        <h2>Introducing</h2>
        <p>Something hot.....</p>
        <div class="button">Try Demo</div>
      </div>
    </header>
    <div class="products">
      <div class="product-icon">
        <div class="product-icon-bg"></div>
        <div class="product-icon-txt">Responsive<br>Websites</div>
        <div class="product-descr">
          <img src="img/ipad.png" alt="ipad">
          <p class="headp">Lorem ipsum dolor sit amet</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus magnam quis facere optio. Expedita ea ipsam
            rerum in, veniam at nihil tempora voluptates illum porro dolor? Nostrum in sint aspernatur tempora corporis,
            aliquam eum, iusto recusandae sapiente eveniet nihil placeat? Enim, cupiditate animi? Reiciendis iure
            blanditiis quisquam incidunt quaerat voluptatibus inventore dignissimos, corporis libero, atque debitis
            necessitatibus rerum voluptatum maxime totam. Provident facere molestias fugit fuga architecto. Corporis
            explicabo sed unde animi eum modi repellat, enim, sapiente officiis molestias hic? Facilis, ab ratione?
            Fugiat similique magnam obcaecati iusto laboriosam, voluptatibus omnis deleniti veritatis nihil temporibus
            tempora enim labore, ipsa nisi.</p>
        </div>
      </div>
      <div class="product-icon">
        <div class="product-icon-bg"></div>
        <div class="product-icon-txt">e-Commerce<br>Websites</div>
        <div class="product-descr">
          <img src="img/ipad.png" alt="ipad">
          <p class="headp">Lorem ipsum dolor sit amet</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus magnam quis facere optio. Expedita ea ipsam
            rerum in, veniam at nihil tempora voluptates illum porro dolor? Nostrum in sint aspernatur tempora corporis,
            aliquam eum, iusto recusandae sapiente eveniet nihil placeat? Enim, cupiditate animi? Reiciendis iure
            blanditiis quisquam incidunt quaerat voluptatibus inventore dignissimos, corporis libero, atque debitis
            necessitatibus rerum voluptatum maxime totam. Provident facere molestias fugit fuga architecto. Corporis
            explicabo sed unde animi eum modi repellat, enim, sapiente officiis molestias hic? Facilis, ab ratione?
            Fugiat similique magnam obcaecati iusto laboriosam, voluptatibus omnis deleniti veritatis nihil temporibus
            tempora enim labore, ipsa nisi.</p>
        </div>
      </div>
      <div class="product-icon">
        <div class="product-icon-bg"></div>
        <div class="product-icon-txt">Daily Blog<br>Websites</div>
        <div class="product-descr">
          <img src="img/ipad.png" alt="ipad">
          <p class="headp">Lorem ipsum dolor sit amet</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus magnam quis facere optio. Expedita ea ipsam
            rerum in, veniam at nihil tempora voluptates illum porro dolor? Nostrum in sint aspernatur tempora corporis,
            aliquam eum, iusto recusandae sapiente eveniet nihil placeat? Enim, cupiditate animi? Reiciendis iure
            blanditiis quisquam incidunt quaerat voluptatibus inventore dignissimos, corporis libero, atque debitis
            necessitatibus rerum voluptatum maxime totam. Provident facere molestias fugit fuga architecto. Corporis
            explicabo sed unde animi eum modi repellat, enim, sapiente officiis molestias hic? Facilis, ab ratione?
            Fugiat similique magnam obcaecati iusto laboriosam, voluptatibus omnis deleniti veritatis nihil temporibus
            tempora enim labore, ipsa nisi.</p>
        </div>
      </div>
      <div class="product-icon">
        <div class="product-icon-bg"></div>
        <div class="product-icon-txt">Search based<br>Websites</div>
        <div class="product-descr">
          <img src="img/ipad.png" alt="ipad">
          <p class="headp">Lorem ipsum dolor sit amet</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus magnam quis facere optio. Expedita ea ipsam
            rerum in, veniam at nihil tempora voluptates illum porro dolor? Nostrum in sint aspernatur tempora corporis,
            aliquam eum, iusto recusandae sapiente eveniet nihil placeat? Enim, cupiditate animi? Reiciendis iure
            blanditiis quisquam incidunt quaerat voluptatibus inventore dignissimos, corporis libero, atque debitis
            necessitatibus rerum voluptatum maxime totam. Provident facere molestias fugit fuga architecto. Corporis
            explicabo sed unde animi eum modi repellat, enim, sapiente officiis molestias hic? Facilis, ab ratione?
            Fugiat similique magnam obcaecati iusto laboriosam, voluptatibus omnis deleniti veritatis nihil temporibus
            tempora enim labore, ipsa nisi.</p>
        </div>
      </div>
    </div>
    <div class="whychoose">
      <div class="screenshot"></div>
      <div class="chooseus">
        <span>Why choose us?</span>
        <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum</span>
        <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum</span>
        <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum</span>
        <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum</span>
        <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum</span>
        <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum</span>
      </div>
    </div>
    <footer></footer>
  </div>
  
</body>

</html>