<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="fonts/opensans.css">
  <link rel="stylesheet" href="style.css">
  <link rel="shortcut icon" href="img/block2/diamond-icon.png" type="image/png">
  <title>Layout1 Podoliak A.S.</title>
</head>

<body>
  <!-- ШАПКА -->
  <header>
    <div class="container">
      <nav>
        <a href="#">Home</a>
        <a href="index.html#feature">Portfolio</a>
        <a href="index.html#ourteam">About us</a>
        <a href="index.html#touch">Contact</a>
      </nav>
      <div class="present">
        <div class="head">
          <h1><span>Our strong</span> organaisation</h1>
          <div class="description">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum facilis architecto suscipit eos incidunt
            itaque velit eius animi quas veritatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
          <a class="button" href="index.html#touch">Contact Us</a>
        </div>
        <!-- <div class="last-line"></div> -->
        <div class="video">
          <iframe class="video-content" src="https://www.youtube.com/embed/j83eF9GHRcM" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </header>
  <!-- СЕРВИСЫ -->
  <section class="services">
    <div class="container">
      <div class="services-description">
        <h2>Do you know we can povide for you?</h2>
        <div class="description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum facilis architecto suscipit eos incidunt
          itaque velit eius animi quas veritatis? Aliquam, ad qui. Lorem ipsum dolor sit amet, consectetur adipisicing
          elit. Cum, vel.
        </div>
        <a class="button" href="index.html#subscribe">Learn More</a>
      </div>
      <div class="services-content">
        <div class="services-content-element">
          <img src="img/block2/management-icon.png" alt="management-icon">
          <span class="services-content-element-name">Management</span>
          <span class="services-content-element-descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
            neque suscipit! Lorem ipsum dolor sit amet consectetur.</span>
        </div>
        <div class="services-content-element">
          <img src="img/block2/pencil-icon.png" alt="pencil-icon">
          <span class="services-content-element-name">UI/UX Design</span>
          <span class="services-content-element-descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
            neque suscipit! Lorem ipsum dolor sit amet consectetur.</span>
        </div>
        <div class="services-content-element">
          <img src="img/block2/diamond-icon.png" alt="diamond-icon">
          <span class="services-content-element-name">Logo / Branding</span>
          <span class="services-content-element-descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
            neque suscipit! Lorem ipsum dolor sit amet consectetur.</span>
        </div>
        <div class="services-content-element">
          <img src="img/block2/truck-icon.png" alt="truck-icon">
          <span class="services-content-element-name">Animation</span>
          <span class="services-content-element-descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
            neque suscipit! Lorem ipsum dolor sit amet consectetur.</span>
        </div>
      </div>
    </div>
  </section>
  <!-- ГАЛЕРЕЯ -->
  <section class="feature"> <a name="feature"></a>
    <div class="container">
      <div class="feature-line-grey"></div>
      <div class="feature-description">
        <h2>feature products</h2>
        <div class="description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum facilis architecto </br> suscipit eos incidunt
          itaque velit eius animi quas
        </div>
      </div>
      <div class="feature-line-red"></div>
      <nav class="feature-nav">
        <a href="index.html#feature">All</a>
        <a href="index.html#feature">Print template</a>
        <a href="index.html#feature">Web template</a>
        <a href="index.html#feature">User interface</a>
        <a href="index.html#feature">Mock-up</a>
      </nav>
      <div class="feature-pictures">
        <div class="feature-pictures-element">
          <div>
            <img src="img/block3/3pic1.jpg" alt="3pic1">
          </div>
          <div>
            <img src="img/block3/3pic2.jpg" alt="3pic2">
          </div>
          <div>
            <img src="img/block3/3pic3.jpg" alt="3pic3">
          </div>
          <div class="feature-pictures-element-nonemargin">
            <img src="img/block3/3pic4.jpg" alt="3pic4">
          </div>
          <div>
            <img src="img/block3/3pic5.jpg" alt="3pic5">
          </div>
          <div>
            <img src="img/block3/3pic6.jpg" alt="3pic6">
          </div>
          <div>
            <img src="img/block3/3pic7.jpg" alt="3pic7">
          </div>
          <div class="feature-pictures-element-nonemargin">
            <img src="img/block3/3pic8.jpg" alt="3pic8">
          </div>
        </div>
      </div>
    </div>
    <!-- КОМАНДА -->
  </section>
  <section class="ourteam"> <a name="ourteam"></a>
    <div class="container">
      <div class="ourteam-description">
        <h2>Meet our team</h2>
        <div class="description">
          Lorem ipsum, dolor sit amet consectetur suscipit eos incidunt
          itaque velit eius animi quas Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora, ex.
        </div>
      </div>
      <div class="ourteam-line-red"></div>
      <div class="ourteam-content">
        <div class="ourteam-mainphoto">
          <img src="img/block4/director.jpg" alt="director"></div>
        <div class="ourteam-otherphoto">
          <div class="ourteam-otherphoto-description">
            <h3>Mark Waugh</h3>
            <div class="description">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum facilis architecto </br> suscipit eos
              incidunt
              itaque velit eius animi quas
            </div>
            <nav class="ourteam-nav">
              <a href="https://google.com/">Facebook</a>
              <a href="https://google.com/">Dribble</a>
              <a href="https://google.com/">Behance</a>
              <a href="https://google.com/">Twitter</a>
            </nav>
          </div>
          <div class="ourteam-otherphoto-element">
            <div>
              <img src="img/block4/worker1.jpg" alt="worker1">
            </div>
            <div>
              <img src="img/block4/worker2.jpg" alt="worker2">
            </div>
            <div>
              <img src="img/block4/worker3.jpg" alt="worker3">
            </div>
            <div class="ourteam-otherphoto-element-nonemargin">
              <img src="img/block4/worker4.jpg" alt="worker4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ПОДПИСКА -->
  <section class="subscribe"> <a name="subscribe"></a>
    <div class="container">
      <div class="subscribe-description">
        <h4>Design tips, tricks, and freebies. Delivered weekly.</h4>
        <div class="description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum facilis architecto
        </div>
      </div>
      <div class="subscribe-content">
        <div class="subscribe-form">
          Email Address...
        </div>
        <div class="subscribe-button">
          Subscribe
        </div>
      </div>
    </div>
  </section>
  <!-- КОНТАКТЫ -->
  <section class="touch">
    <div class="touch-container">
      <div class="touch-description">
        <h2>Get in touch</h2>
        <div class="description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum facilis architecto </br> suscipit eos incidunt
          itaque velit eius animi quas. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut, dolores!
        </div>
      </div>
      <div class="touch-line-red"></div>
      <div class="touch-content">
        <div class="touch-content-form">
          <div class="touch-content-form-small-a">Name</div>
          <div class="touch-content-form-small-b">Your Mail</div>
          <div class="touch-content-form-large">Type your message</div>
          <div class="touch-content-form-button">Send message</div>
        </div>
        <div class="touch-content-info"> <a name="touch"></a>
          <span class="touch-content-info-spanhead">
            contact info
          </span>
          <span class="touch-content-info-spancontent">
            Jalalabad 24 / A, Ambaarkhana, Sylhet, Bangladesh</br></br>
            redwan@deviserweb.com</br></br>
            (+88) 017 617 46373
          </span>
        </div>
      </div>
    </div>
  </section>
  <!-- ФУТЕР -->
  <footer>
    <span class="footer-text">&copy; Copyright @Junaed 2016, All rights reserved.</span>
    <div class="footer-contacts">
      <a href="https://google.com/"><img src="img/footer/twitter.png" alt="twitter"></a>
      <a href="https://google.com/"><img src="img/footer/linkedIn.png" alt="linkedIn"></a>
      <a href="https://google.com/"><img src="img/footer/google.png" alt="google"></a>
      <a href="https://google.com/"><img src="img/footer/facebook.png" alt="facebook"></a>
    </div>
  </footer>
</body>

</html>